.txtOverlay{
  width:390px;
  height:206px;
  opacity:0.9;
  font-size:20px;
  font-weight:700;
  text-align:justify;
  border:5px solid #FFA500;
  padding:5px;
  background: url(téléchargement.jpg) no-repeat;
}
.theText{
  opacity: 0;
}
.txtOverlay:hover .theText
{
  opacity:0.9;
  color:red;
  font-size:20px;
  font-weight:700;
}





